.tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;}
.tg td{background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
    font-family:Arial, sans-serif;font-size:12px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
    font-family:Arial, sans-serif;font-size:12px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-e6ut{background-color:#9aff99;border-color:inherit;text-align:center;vertical-align:middle}
.tg .tg-9wq8{}
.tg .tg-2xs2{background-color:#f56b00;border-color:inherit;text-align:center;vertical-align:middle}
.tg .tg-j4xs{background-color:#cbcefb;border-color:inherit;text-align:center;vertical-align:middle}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:middle}
.tg .tg-roi2{background-color:#c0c0c0;border-color:inherit;text-align:center;vertical-align:middle}
.tg .tg-p03w{background-color:#fffc9e;border-color:inherit;text-align:center;vertical-align:middle}
.tg .tg-n73t{background-color:#ffccc9;border-color:inherit;text-align:center;vertical-align:middle}
.tg .tg-eaf5{background-color:#3166ff;border-color:inherit;text-align:center;vertical-align:middle}