.summary {
    color: #808080;
    border-left: 5px solid #315745;
    font-size:16px;
}


h3 {color: #315745; }
h4 {color: #315745; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #e96a00;
    color: white;
}

.nav > li.active > a {
    background-color: #e96a38;
}

.nav > li > a:hover {
    background-color: #e96a00;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #e96a38;
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #e96a00;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #e96a38;
    border-color: #bd3a07;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: #f0f0f0;
}

a.navbar-brand:hover {
  color: #f0f0f0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #bd3a07;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #bd3a07;
    color: #ffffff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #e96a00 !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #e96a38;
    border-color: #e96a38;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #e96a38;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #e96a00;
    border-color: #e96a38;
}

.printTitle {
    color: #bd3a07 !important;
}

body.print h1 {color: #bd3a07 !important; font-size:28px !important;}
body.print h2 {color: #446958 !important; font-size:20px !important;}
body.print h3 {color: #315745 !important; font-size:14px !important;}
body.print h4 {color: #eb784a !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #eb5f28;
}

div.sidebarTitle {
    color: #bd3a07;
}

li.sidebarTitle {
  margin-top:20px;
    font-weight:normal;
    font-size:130%;
    color: #315745;
    margin-bottom:10px;
    margin-left: 5px;

}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #bd3a07;
}

.navbar-inverse .navbar-toggle {
    border-color: #bd3a07;
}

.horario {
    font-size: 12px;
    text-align: center;    
}

.horario td{
    vertical-align: middle;
    width: 120px;
    border-left: 1px solid #ddd;;
}
.l1 {
    font-weight: bold;
}
.color1{
    background-color:#aed6f1
  }
  .color2{
    background-color:#d5f5e3
  }
  .color3{
    background-color: #edbb99
  }
  .color4{
    background-color: #fcf3cf
  }
  .color5{  
    background-color: #fadbd8
  }
  .color6{
    background-color: #d6cada
  }
  .color7 {
    background-color:#a3c5aa;
  }
  .color8 {
    background-color: #bdbbbb;
  }
  